.direnv/
node_modules/
.vscode/
.idea


# Python
__pycache__/
build/
dist/
*.egg-info
wheels/

# Virtual environment
.venv/

# Dagster
.tmp_dagster*
!.dagster/dagster.yaml

# Database
nayya.db

# DS_Store files
.DS_Store